<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>qwertyui</h1>
<form th:action="@{/medicalRecords/create}" method="post" th:object="medicalRecords">
  <input th:field="*{title}" type="text" name="title" id="title" placeholder="Название статьи">
  <input th:field="*{text}" type="text" name="text" id="text" placeholder="Текст статьи">
  <input th:field="*{patientEmail}" type="text" name="patientEmail" id="patientEmail" placeholder="Почта поциента">
  <input type="submit" value="Опубликовать">
</form>
<div > [[${errors}]] </div>


</body>
</html>